@import 'src/assets/styles/vars';

:host{
  display: block;
  background: linear-gradient($bg--dark, $bg 50%);
  padding: $grid-gutter;
  color: $neutral;
  font: $small $menuFont;
}

.content{
  display: flex;
}

.contact{
  line-height: 1.6;
}