@import 'src/assets/styles/vars';

:host(){
  width: 100%;
}

content{
  flex-direction: column;
}

.holder{
  display: flex;
  flex-wrap: wrap;
  margin-top: $grid-gutter;
}

app-media-card{
  flex: 0 33.33%;
  --img-max-height: 175px;
}