@import 'src/assets/styles/vars';

:host{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content{
  flex: 1;
  padding: $grid-gutter;
  display: flex;
  flex-direction: column;
}

.content{
  flex: 1;
  display: flex;
}

.home{
    background: radial-gradient(circle at center, transparent, rgba($bg--dark, 0.8)), url('/assets/img/home-bg.svg');
    background-size: 100% 100%, 14px 14px ;
}

.advise{
    background: $primary;
    padding: $grid-gutter;
}