<content class="content">
  <h1>{{parsedTags }}</h1>
  <p class="h3" *ngIf="content?.place">{{content?.place | translate}}</p>

  <p class="main__desc text--muted">{{content?.desc | translate}}</p>

  <div
   *ngFor="let section of content?.sections; let s = index">
    <div class="h3 text--muted">{{section.title | translate}}</div>
    <div class="holder">
      <app-media-card *ngFor="let img of section.imgs; let i=index"
        [img]="img"
        (click)="lightbox.open(getThumbnailPosition(s,i))">
      </app-media-card>
    </div>
  </div>

  <a
    *ngIf="content?.logo"
    [href]="content?.logo.url">
    <img [src]="content?.logo.img" [alt]="content?.logo.alt | translate">
  </a>
</content>