@import '../node_modules/reset-css/reset';
@import '~@ngx-gallery/core/styles/gallery';
@import '~@ngx-gallery/core/styles/lightbox';


@import 'assets/styles/vars';


html{
  background: $bg;
  color:$contrast;
}

html,
body{
  font: 1em $bodyFont;
  line-height: 1.3em;
  min-height: 100vh;
}

.content{
  max-width: 1000px;
  width: 100%;
  margin: $grid-gutter auto;
  flex: 1;
  display: flex;
}


a,
.click{
  transition: $color-time color;
  display: block;
  color: $contrast;
  text-decoration: none;
  cursor: pointer;

  &:hover{
    color: $primary;
  }
}

.hover{
  position: relative;
  overflow: hidden;

  &:hover{
    &::after{
      left:100%;
    }
  }
  
  &::after{
    transition: $fade-time left;
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
  }
}

@mixin hover-color($name, $color){
  .hover--#{$name}{
    &::after{
      background: linear-gradient(90deg, transparent, rgba($color,0.5), transparent);
    }
  }
}

@include hover-color('contrast',$contrast);
@include hover-color('bg',$bg);
@include hover-color('bg--dark',$bg--dark);
@include hover-color('primary',$primary);


strong{
  font-weight: bold;
}
p{
  &:not(:last-of-type){
    margin-bottom: $grid-gutter;
  }
}


// typo

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
  font:  1em $titleFont;
  margin-bottom: $grid-gutter;
}
h1,h2,
.h1,.h2{
  font-weight: bold;
  text-transform: uppercase;
}
h1,
.h1{
  font-size: $h1-size;
}
h2,
.h2{
  font-size: $h2-size;
}
h3,
.h3{
  font-size: $h3-size;
}
h4,
.h4{
  font-size: $h4-size;
}
h5,
.h5{
  font-size: $h5-size;
}
h6,
.h6{
  font-size: $h6-size;
}

.text--muted{
   color: $neutral;
 }

// structure
aside{
  margin: 3.1em 2*$grid-gutter 0 0;
  flex: 1;

  &+content{
    flex: 2;
  }
}


// overrides
image-item div {
  background-size: contain !important;
  background-repeat: no-repeat;
}
.g-backdrop,
gallery{
  background: $bg--dark;
}
lightbox gallery{
  box-shadow: none;
}
.g-btn-close{
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUwIDUwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MCA1MDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgc3R5bGU9ImZpbGw6I2ZmMDA0ZDsiIGN4PSIyNSIgY3k9IjI1IiByPSIyNSIvPjxwb2x5bGluZSBzdHlsZT0iZmlsbDpub25lO3N0cm9rZTojRkZGRkZGO3N0cm9rZS13aWR0aDoyO3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwOyIgcG9pbnRzPSIxNiwzNCAyNSwyNSAzNCwxNiAiLz48cG9seWxpbmUgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6I0ZGRkZGRjtzdHJva2Utd2lkdGg6MjtzdHJva2UtbGluZWNhcDpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoxMDsiIHBvaW50cz0iMTYsMTYgMjUsMjUgMzQsMzQgIi8+PC9zdmc+);
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
  opacity: 1;
}